* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main {
  min-height: 100vh;
  background-color: #282c34;
  /* align-items: center; */
  /* justify-content: center; */
  color: white;
}
.containerHeader {
  /* width: 1200px; */
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 35px 40px 40px 40px;
  align-items: center;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
}
.info {
  display: flex;
  /* justify-content: space-between; */
  line-height: 52px;
  cursor: pointer;
  font-weight: 600;
  padding: 0px 20px;
  border-radius: 50px;
  background-color: #6495ed;
  /* margin-right: 125px; */
}

.info i {
  cursor: pointer;
  line-height: 18px;
}

.img img {
  width: 22px;
  height: 30px;
  /* line-height: 52px; */
}
.img {
  height: 52px;
  line-height: 70px;
}
.titles {
  display: flex;
  flex-direction: row;
  line-height: 36px;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 700;
}
.titles:hover {
  cursor: pointer;
}
.titles img {
  width: 40px;
  margin-right: 10px;
}
.containerBody {
  display: flex;
  width: 1200px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
h1 span {
  color: #6495ed;
}
.subTitles {
  width: 500px;
  text-align: center;
  font-size: 18px;
}
.buttonGroup {
  margin-top: 30px;
}
.buttonGroup button {
  padding: 20px 30px;
  width: 200px;
  margin-right: 20px;
  font-size: 16px;
  background-color: #483d8b;
  border: 0px;
  color: #fff;
  font-weight: 600;
}
.bodyImg {
  margin-top: 30px;
  width: 70%;
  height: 70%;
}
